#navbar{
    width: 100%;
    margin: auto;
    position: fixed;
    top:0;
    padding-bottom: 10px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
#logo{
    display: flex;
    justify-content: center;
    margin-left: 39%;
    margin-bottom: 15px;
    margin-top: 10px;
}
#logo+div{
    display: flex;
    align-items: center;
}
#bar{
    height: 50px;
    width: 50px;
    color: #fe5c75;
    background: rgb(255, 255, 175);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    margin-left: 100px;
    cursor: pointer;
    margin-top: -90px;
}
#bar+#categories{
    display: flex;
    justify-content: space-around;
    width: 80%;
    font-size: 18px;
    visibility: hidden;
}
#categories>div{
    border-right: 2px solid #fe5c75;
    box-sizing: border-box;
    padding-right: 10px;
}
#categories>div:hover{
    cursor: pointer;
    color:#fe5c75;
}
#categories>div:last-child{
    border-right: 0;
}
#navbar+div{
    width: 60%;
    margin: auto;
    margin-top: 100px;
}
#navbar+div>div{
    display: flex;
    color:#fe5c75;
}
#navbar+div>div>p{
    margin-right: 10px;
    cursor: pointer;
}
#navbar+div>div>p:hover{
    color:blue;
}
#headline{
    font-size: 24px;
    margin-top: 0px;
}
.matter{
    font-size: 18px;
    padding-right: 100px;
    line-height: 30px;
}
h3{
    margin-top: 50px;

}
#ending{
    margin-top: 100px;
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 100px;
}
/* footer --> */
#footer{
    margin-top: 50px;
    background-color: rgb(243, 243, 243);
    padding-top: 30px;
}
#footer>div:first-child{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
}
#footer>div>div{
    line-height: 14px;
    color: black;
    font-weight: bolder;
}
#footer>div>div:last-child{
    text-align: center;
}
#footer>div>div:last-child>p:first-child{
    font-size: 18px;
    margin-bottom: 30px;
}
#icons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}   
#icons>i{
    border-radius: 10%;
    padding: 8px;
    background-color: rgb(216, 213, 213);
}
#copyright{
    width: 100%;
    display: block;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 5px;
    padding-bottom: 10px;
    box-sizing: border-box;
    background-color: rgb(225, 220, 220);
    margin-top: 50px;
}
#copyright>p{
    color: black;
    font-size: 11px;
    font-weight: bold;
    line-height: 12px;
}
#copyright>p:first-child{
    text-align: center;
    font-size: 14px;
}
#copyright>p:last-child{
    color: #fe5c75;
    font-weight: bold;
}